@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
    color: #5D61BF;
}
p,h3{
    color: #212529;
}

.banner_img{
  background-image: url('../src/back-img/background.jpg');
  background-size: cover;
}
